<!--
  TAREA TA04 – DetallePage
  Implementa los TODOs siguiendo los apartados indicados en la teoría.
-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <!-- ESTABA DONE: Modificar <ion-title>{{ elementoDetalle?.nombre }}</ion-title> -->
    <!-- Con signal, leemos el valor de la señal llamándola como función: {{ elementoDetalle()?.nombre }}-->
    <ion-title>{{ elementoDetalle()?.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- ESTABA DONE: Modificar elementoDetalle por elementoDetalle()-->
  <!-- @if evalúa el signal como función; dentro del bloque, elementoDetalle() ya tiene valor -->
  @if (elementoDetalle()) {
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>{{ elementoDetalle()!.nombre }}</h2>
          <p>{{ elementoDetalle()!.descripcion }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Categoría: {{ elementoDetalle()!.categoria }}</ion-label>
      </ion-item>
    </ion-list>
  } @else {
    <ion-item>
      <ion-label>No se ha seleccionado ningún elemento.</ion-label>
    </ion-item>
  }

</ion-content>
